[line_break]
disabled = true

# Disable everything else
[aws]
disabled = true
[cmd_duration]
disabled = true
[hostname]
disabled = true
[docker_context]
disabled = true
[nodejs]
disabled = true
[rust]
disabled = true
[package]
disabled = true
[python]
disabled = true
[deno]
disabled = true
[bun]
disabled = true
[php]
disabled = true
[java]
disabled = true
[golang]
disabled = true
[swift]
disabled = true
[conda]
disabled = true
[helm]
disabled = true
[kubernetes]
disabled = true
